<div class="message-window">
  <div id="messages"></div>
  <br />

  <div id="reply">
    <input type="textarea" id="message-text-area" />
    <input type="submit" id="send-message-button" value="Send" />
  </div>
</div>
