<h1>You have a new message from <%= @sender.username %></h1>
<p>
  Click the following link to read the message: <a href="<%= @url %>"><%= @url %></a>.<br>
</p>
<p>May the odds be ever in your favour!</p>
