
  <div class="success_stories">
    <div class="display col-md-12">
      <div class="feat">
        <h1>SUCCESS STORIES</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 stories">
          <img src="assets/kateleo.jpg" alt="Kate and Leo" />
          <p>I used WeGotSingles when I was studying abroad in England one semester. I actually met a guy who went to the same school as me, but without WeGotSingles, we never would've crossed paths! We hit it off right away, and now we've been dating for almost four days.</p>
      </div>
    </div>
    <div class="heart"></div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 stories">
          <img src="assets/xmen.jpg" alt="Raven and Beast"/>
          <p>Once I was on WeGotSingles when a match messaged me, 'I will feed u until ur in a food coma every time.' This sounded like an absolute dream for me—someone who very passionately loves food. Nothing happened besides that, but the moment was magical in and of itself. And if that wasn't enough, his first name was Beast.</p>
      </div>
    </div>
    <div class="heart"></div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 stories">
          <img src="assets/brokebackmountain.jpg" alt="Heath and Jake"/>
          <p>A month after going on a seriously bad Tinder date (the guy was cheating on his boyfriend with me—cute), I met up with a different WeGotSingles guy at a local bar. I was completely wasted, brought my friends with me, and made a total fool out of myself. My friends thought he was 30 and didn't know I'd met him on WeGotSingles. But he looked past my drunkenness and took me on an actual date the next night. We hit it off, my friends loved him, and the rest was history—more than two years later, we're as happy as ever.</p>
      </div>
    </div>
  </div>
